.countryDetails {
  background-color: rgba(255, 255, 255, 0.258);
  color: black;
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px black;
  border: solid 2px blueviolet;
  border-radius: 4px;
  width: 440px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

.countryDetails img {
  display: flex;
  margin: 0 auto;
  text-align: center;
  box-shadow: black 0px 1px 5px;
}

.countryDetailsContent h2 {
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  font-weight: 400;
  margin-bottom: 20px;
}

.countryDetailsContent p {
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  margin: 22px;
  margin-left: 62px;
}

.homeButton {
  display: flex;
}

.contentOrder hr {
  display: flex;
  position: relative;
  top: 180px;
  height: 200px;
  text-align: center;
  margin: 100px;
  border: solid 0.1px blueviolet;
}

.individualActivity {
  background-color: white;
  width: 280px;
  height: 320px;
  color: black;
  border-radius: 6px;
  border: solid 1px blueviolet;
  margin: 0 auto;
  justify-content: center;
}

.individualActivity h3 {
  text-align: center;
  position: relative;
  bottom: 10px;
  font-weight: 500;
}

.activityContainer {
  position: relative;
  top: 80px;
  width: 440px;
  height: 580px;
  background-color: rgba(255, 255, 255, 0.258);
  color: black;
  backdrop-filter: blur(2px);
  border: solid 2px blueviolet;
  box-shadow: 0px 4px 10px black;
  border-radius: 4px;
  text-align: start;
}

.activityContainer h2 {
  font-size: 24px;
  text-align: center;
  margin: 18px;
  margin-bottom: 42px;
}

.activityContainer h3 {
  font-size: 26px;
  margin: 30px;
}

.activityContainer h4 {
  font-size: 28px;
  font-weight: 700;
  color: blueviolet;
  text-align: center;
}

.activityContainer p {
  margin: 40px;
  font-size: 18px;
}

.countryDetails img {
  margin-top: 20px;
}

.contentOrder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 100px;
  justify-content: center;
}
