.sPaginated{
    background-color: white;
    color: black;
    width: 100%;
}

.sPaginated button{
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 4px;
    width: 30px;
    height: 24px;
    margin: 8px;
}

body{
    display: block;
}