body {
  background-image: url("../../assets/76827.jpg");
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
}

.formContainer {
  margin: 100px;
  background-color: white;
  justify-content: center;
  color: black;
  border: solid 2px blueviolet;
  border-radius: 4px;
  width: 400px;
  height: 680px;
  font-size: 20px;
}

.formContent {
  justify-content: center;
  margin-left: 10px;
}

form {
  flex-wrap: wrap;
  flex-direction: column;
  text-align: start;
}

.labels {
  position: relative;
  top: 6px;
}

.createTitle {
  color: blueviolet;
  text-align: center;
}

.createButton {
  border-radius: 4px;
  background-color: black;
  color: white;
  position: relative;
  padding: 8px;
  font-weight: 600;
  margin: 0 auto;
  display: flex;
  border: none;
  cursor: pointer;
}

.createButton:hover {
  box-shadow: 2px 3px 6px blueviolet;
  background: blueviolet;
  transition: 0.2s;
  border: solid 1px blueviolet;
  color: white;
}

.prevCardContainer {
  display: block;
  flex-wrap: wrap;
  padding: 10px;
  width: 320px;
  height: 400px;
  margin: 100px;
  border: solid 2px blueviolet;
  background-color: white;
  color: black;
  border-radius: 4px;
  overflow-x: auto;
}

.prevCardContainer::-webkit-scrollbar {
  width: 0px;
}

.prevCardContainer p {
  color: black;
  font-size: 20px;
  margin: 10px;
}

.prevCardContainer h2 {
  color: blueviolet;
}

.prevCardTexts {
  text-align: start;
  margin: 20px;
}

.formContainer p {
  margin: 0 auto;
  color: brown;
  font-size: 12px;
}

.formContainer h2 {
  font-weight: 500;
}

.container label {
  color: black;
}

.selectContainer select {
  height: 200px;
  margin-top: 8px;
}

.selectContainer option {
  margin-bottom: 2px;
  font-size: 16px;
  margin-top: 6px;
  margin-left: 4px;
}

.selectContainer option::before {
  background-color: red;
}
.allLabels {
  margin: 10px;
}

.homeButton {
  position: absolute;
  left: 2px;
}

.namePlaceHolder::placeholder {
  font-size: 12px;
}
