.navContainer{
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    list-style: none;
    padding: 20px;
}

.navContainer li{
    margin-left: 58px;
    color: black;
}

.as{
    color: black;
}