.navContainer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  box-shadow: 0px 2px 4px transparent;
  backdrop-filter: blur(4px);
  background-color: white;
  color: black;
  list-style: none;
  padding: 20px;
}

.navContainer li {
  margin-left: 72px;
  color: black;
}

.as:hover {
  color: blueviolet;
}

.landingButton {
  display: flex;
  font-size: 13px;
  position: absolute;
  top: 68px;
  left: -60px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.landingButton:hover {
  font-size: 13px;
  transition: 0.2s;
}
